<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{#<form action="" method="post">#}
{#    <input type="text" name="countrycode"/>#}
{#    <input type="submit" value="提交" />#}
{#</form>#}
    <h1 align="center">信息展示</h1>
    <table align="center">
    <tr align="center">
        <th align="center">ID</th>
        <th align="center">Name</th>
        <th align="center">CountryCode</th>
        <th align="center">District</th>
        <th align="center">Population</th>
        <th align="center">操作</th>
    </tr>
    {% for row in city_list %}
    <tr align="center">
        <td>{{ row.pk}}</td>
        <td>{{ row.fields.name }}</td>
        <td>{{ row.fields.countrycode }}</td>
        <td>{{ row.fields.district }}</td>
        <td>{{ row.fields.population }}</td>
        <td>
            <a href="/del?nid={{ row.pk }}">删除</a>
{#            <form method="post">#}
{#            <button type="submit" >Click Me!</button>#}
{#            </form>#}
            <a href="add_form.html">添加</a>
            <a href="edit_form.html?nid={{ row.pk }}">编辑</a>
        </td>
    </tr>
    {% endfor %}


    </table>
<div align="center">
    {% for page_number in city_list.paginator.page_range %}
        {% ifequal page_number city_list.number %}
            {{ page_number }}
        {% else %}
            <a href="?page={{ page_number }}">{{ page_number }}</a>
        {% endifequal %}
    {% endfor %}
</div>
</body>
</html>
